<section class="accordion"
         data-accordion>
    <div class="accordion__container">
        <article class=""
                 data-collapse>
            <header>
            </header>
            <div>
            </div>
        </article>
    </div>
</section>
