<aside class="cookies">
    <div class="cookies__container">
        <p class="cookies__message">{{ cookies.message }}</p>
        <button class="cookies__close"
                title="{{ cookies.close | escape }}"
                type="button">
            <span>{{ cookies.close }}</span>
            <svg class="cookies__icon">
                <use href="#symbol-times"/>
            </svg>
        </button>
    </div>
</aside>
