<footer class="footer">
    <div class="footer__container">
        {%
            include 'partials.navigation' with
            modifier: 'footer',
            navigation: footer.navigation
        %}
    </div>
</footer>
