{% case modifier %}
    {% when 'primary' %}
    <header class="header header--primary">
        <div class="header__container">
            {%
                include 'partials.sandwich' with
                sandwich: header.sandwich
            %}
            {%
                include 'partials.drawer' with
                drawer: header.drawer
            %}
            {%
                include 'partials.logo' with
                modifier: 'header',
                logo: header.logo
            %}
            <button class="header__cart"
                    title=""
                    type="button"
                    data-ripple>
                <svg class="header__icon">
                    <use href="#symbol-cart"/>
                </svg>
            </button>
        </div>
    </header>
    {% when 'secondary' %}
    <header class="header header--secondary">
    </header>
{% endcase %}

