{% case modifier %}
    {% when 'header-primary' %}
    <div class="navigation navigation--header navigation--primary">
        <nav>
            <ul>
                {% for link in navigation.primary %}
                <li>
                    <a></a>
                </li>
                {% endfor %}
            </ul>
        </nav>
        <nav>
            {% for list in navigation.secondary %}
            <ul>
                {% for link in list %}
                <li>
                    <a></a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </nav>
    </div>
    {% when 'footer' %}
    <nav class="navigation navigation--footer">
        {% for list in navigation %}
        <ul class="navigation__list">
            {% for link in list %}
            <li class="navigation__item">
                <a class="navigation__link"
                   href="{{ link.url }}"
                   target="{{ link.target | escape }}"
                   title="{{ link.title | escape }}">{{ link.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </nav>
{% endcase %}
