{% case modifier %}
    {% when 'footer' %}
    <nav class="navigation navigation--footer">
        {% for list in navigation %}
        <ul class="navigation__list">
            {% for link in list %}
            <li class="navigation__item">
                <a class="navigation__link"
                   href="{{ link.url }}"
                   target="{{ link.target | escape }}"
                   title="{{ link.title | escape }}">{{ link.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </nav>
{% endcase %}
