{% case modifier %}
    {% when 'hero' %}
    <div class="slider slider--hero"
         data-slider-hero>
        <article class="slider__slider">
            <div class="slider__thumbnail">
                <figure class="slider__figure">
                    <img class="slider__image">
                </figure>
            </div>
        </article>
    </div>
{% endcase %}
