<section class="technologies">
    <div class="technologies__container">
        {% for detail in technologies.details %}
        <details open>
            <summary>{{ detail.title }}</summary>
            <p>{{ detail.description }}</p>
        </details>
    </div>
</section>
