/node_modules
#/public/css
/public/hot
#/public/js
/public/storage
/resources/js/**/*.js
!/resources/js/app.js
/resources/sass/*/**/*.scss
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
