@font-face {
    font-display: swap;
    font-family: 'Good Headline W01';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/good-headline-w01-light.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Good Headline W01';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/good-headline-w01-news.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Good Headline W01';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/good-headline-w01-medium.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Good Headline W01';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/good-headline-w01-bold.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Nikolai';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/nikolai-semibold.woff2') format('woff2');
}

@mixin headline {
    font-family: 'Good Headline W01', sans-serif;
}

@mixin nikolai {
    font-family: 'Nikolai', serif;
}
