$breakpoints: ();

@import 'breakpoints';

$colors: (
    'gainsboro': #DDD,
    'gorse': #DCFD35,
    'grey': #8C8C8C,
    'nero': #1C1C1C,
    'smoke': #EFEFEF,

    'facebook':  #1877F2,
    'instagram': #D7005A,
);

@import 'colors';

$variables: (
    'navigation': 0.5s,
    'ripple':     1s,
    'sandwich':   0.25s,
    'transition': 0.25s,
);

$container-phone: 5.797101449275362vw;
$column-phone: 18.478260869565217vw;
$gutter-phone: 4.830917874396135vw;

$container-laptop: 6.944444444444444vw;
$column-laptop: 5.648148148148148vw;
$gutter-laptop: 1.666666666666667vw;

@import
    'variables',
    'functions',
    'fonts',
    'reset';

@include html;

$elements: (
    'body' 'div' 'img' 'li' 'ul'
    'article' 'blockquote' 'figure' 'footer' 'header' 'main' 'nav' 'section'
    'button' 'form' 'label' 'input'
    'a' 'h1' 'h2' 'h3' 'p' 'span' 'strong'
    'g' 'path' 'svg' 'symbol' 'use'
);

@include reset;

@include body {
    @include headline;

    color: color('nero');
}

::selection {
    background-color: rgba(color('nero'), 0.99);
    color: color('white');
}

img::selection {
    background-color: rgba(color('gorse'), 0.5);
}

@import 'slick-carousel/slick/slick';

@include main;

@import
    'mixins/*',
    'partials/*';
