$breakpoints: ();

@import 'breakpoints';

$colors: (
    'gainsboro': #DDD,
    'gorse': #DCFD35,
    'grey': #8C8C8C,
    'nero': #1C1C1C,
    'smoke': #EFEFEF,

    'facebook':  #1877F2,
    'instagram': #D7005A,
);

@import 'colors';

$variables: (
    'transition': 0.25s,
);

@import
    'variables',
    'functions',
    'fonts',
    'reset';

@include html;

$elements: (
    'body' 'div' 'img' 'li' 'ul'
    'article' 'blockquote' 'figure' 'footer' 'header' 'main' 'nav' 'section'
    'button' 'form' 'label' 'input'
    'a' 'h1' 'h2' 'h3' 'p' 'span' 'strong'
    'g' 'path' 'svg' 'symbol' 'use'
);

@include reset;

@include body {
    @include headline;

    color: color('nero');
}

::selection {
    background-color: rgba(color('nero'), 0.99);
    color: color('white');
}

img::selection {
    background-color: rgba(color('gorse'), 0.5);
}

@import 'slick-carousel/slick/slick';

@include main;

@import
    'partials/accordion',
    'partials/cookies',
    'partials/details',
    'partials/footer',
    'partials/header',
    'partials/hero',
    'partials/instagram',
    'partials/logo',
    'partials/navigation',
    'partials/newsletter',
    'partials/recommendation',
    'partials/sandwich',
    'partials/slider',
    'partials/symbols';
