.collection {
    .collection__container {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .collection__thumbnail {
        padding-bottom: 65.942028985507246%;
        z-index: 1;
    }

    .collection__figure {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .collection__image {
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
    }

    .collection__column {
        align-items: stretch;
        background-color: color('gorse');
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .collection__card {
        background-color: color('nero');
        margin: -1.25rem 0 5.625rem #{ ($margin) };
        padding: 2rem #{ ($margin) } 2.625rem;
        z-index: 2;
    }

    .collection__label {
        @include headline;

        color: color('white');
        font-size: 0.625rem;
        font-weight: 400;
        line-height: 0.625rem;
        margin-bottom: 0.125rem;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .collection__title {
        @include nikolai;

        color: color('white');
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 3.25rem;
        margin-bottom: 0.125rem;
    }

    .collection__description {
        @include headline;

        color: color('white');
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.3em;
        margin-bottom: 1.1875rem;
    }

    .collection__link {
        box-shadow: inset 0 0 0 0.0625rem color('white');
        color: color('white');
        display: block;
        padding: 0.0625rem 1.3125rem;

        .collection__text {
            @include headline;

            align-items: center;
            color: color('white');
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            font-size: 0.75rem;
            font-weight: 400;
            justify-content: center;
            letter-spacing: 0.05em;
            line-height: 0.75rem;
            min-height: 2.5rem;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

@include breakpoint('tablet') {
    .collection .collection__card {
        margin-left: #{ ($margin) };
        padding: 2rem #{ ($margin) } 2.625rem;
    }
}

@include breakpoint('laptop') {
    .collection {
        .collection__container {
            align-items: stretch;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        .collection__thumbnail {
            margin: 1.8125rem -20% 0 0;
            min-width: 86.666666666666667%;
            padding-bottom: 56.08974358974359%;
            width: 86.666666666666667%;
        }

        .collection__column {
            min-width: 33.333333333333333%;
            width: 33.333333333333333%;
        }

        .collection__card {
            margin: 0 10.416666666666667% 0 0;
            padding: 2.5rem #{ (2 * $gutter) };
        }

        .collection__label {
            margin-bottom: 0.5rem;
        }

        .collection__title {
            font-size: 2.8125rem;
            font-weight: 600;
            line-height: 1.05em;
            margin-bottom: 0.5rem;
        }

        .collection__description {
            margin-bottom: 2rem;
        }
    }
}
