.showcase {
    background-color: color('smoke');

    .showcase__container {
        padding: 0 5.797101449275362vw;
    }

    .showcase__title {
        @include nikolai;

        color: color('nero');
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: -6.25rem;
        text-align: center;
    }
}

@include breakpoint('laptop') {
    .showcase {
        .showcase__container {
            padding: 0 6.944444444444444vw;
        }
    }
}
