.socials {
    .socials__list {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        margin: -0.75rem;
    }

    .socials__item {
        margin: 0.75rem;
    }

    .socials__link {
        display: block;
    }

    .socials__icon {
        color: color('nero');
        height: 2.5rem;
        min-height: 2.5rem;
        min-width: 2.5rem;
        width: 2.5rem;
    }
}
