.collection {
    .collection__container {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .collection__thumbnail {
        overflow: hidden;
        padding-bottom: 66.666666666666667%;
        transform: translate(0, 0);
        z-index: 1;
    }

    .collection__figure {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .collection__image {
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
    }

    .collection__column {
        background-color: color('gorse');
        align-items: stretch;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .collection__card {
        background-color: color('nero');
        margin: -1.25rem 0 5.625rem 5.797101449275362vw;
        padding: 1.875rem 5.797101449275362vw 2.5rem;
        z-index: 2;
    }

    .collection__label {
        @include headline;

        color: color('white');
        display: block;
        font-size: 0.625rem;
        font-weight: 400;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .collection__title {
        @include nikolai;

        color: color('white');
        font-size: 2.5rem;
        font-weight: 700;
    }

    .collection__description {
        @include headline;

        color: color('white');
        font-size: 1.125rem;
        font-weight: 400;
        margin-bottom: 1.25rem;
    }

    .collection__link {
        box-shadow: inset 0 0 0 0.0625rem color('white');
        color: color('white');
        display: block;
        padding: 0.0625rem 1.3125rem;

        .collection__text {
            @include headline;

            align-items: center;
            color: color('white');
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            font-size: 0.75rem;
            font-weight: 400;
            height: 2.625rem;
            justify-content: center;
            letter-spacing: 0.05em;
            text-align: center;
            text-transform: uppercase;
            white-space: nowrap;
        }
    }
}

@include breakpoint('laptop') {
    .collection {
        .collection__container {
            flex-direction: row;
            justify-content: space-between;
        }

        .collection__thumbnail {
            margin:  1.25rem -20.138888888888889vw 0 0;
            min-width: 86.805555555555556vw;
            padding-bottom: 56.25%;
            width: 86.805555555555556vw;
        }

        .collection__column {
            min-width: 33.333333333333333vw;
            padding-right: 3.472222222222222vw;
            width: 33.333333333333333vw;
        }

        .collection__card {
            margin: 0;
            padding: 2.5rem 2.777777777777778vw;
        }

        .collection__label {
            margin-bottom: 0.5rem;
        }

        .collection__title {
            font-size: 2.8125rem;
            margin-bottom: 0.5rem;
        }

        .collection__description {
            margin-bottom: 2rem;
        }
    }
}
