.details {
    padding: 2.5rem 0;

    &:before {
        background: color('smoke');
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .details__container {
        padding: 0 5.7971vw;
    }

    .details__cards {
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: -0.5rem -4.83092vw;
    }

    .details__card {
        background-color: color('gainsboro');
        margin: 0.5rem 4.83092vw;
        padding: 3.75rem 2.5rem 3.125rem;
        width: 100%;
    }

    .details__title {
        @include nikolai;

        font-size: 2.8125rem;
        font-weight: 700;
        margin-bottom: 2.5rem;
        text-align: center;
        white-space: nowrap;
    }

    .details__ruler,
    .details__labels {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 16.25rem;
    }

    .details__ruler {
        align-items: stretch;
        height: 0.5rem;
        margin-bottom: 1rem;

        &:before {
            background-color: color('white');
            content: '';
            display: block;
            height: 0.125rem;
            left: 0;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .details__marker {
        background-color: color('white');
        min-width: 0.0625rem;
        width: 0.0625rem;
    }

    .details__range,
    .details__icon {
        height: 0.625rem;
        width: 5.625rem;
    }

    .details__range {
        position: absolute;
        top: 50%;

        &.details__range--0 {
            left: 0;
            transform: translate(0, -50%);
        }

        &.details__range--1 {
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &.details__range--2 {
            left: 100%;
            transform: translate(-100%, -50%);
        }
    }

    .details__labels {
        align-items: center;
        margin-bottom: 2.5rem;
    }

    .details__label {
        @include headline;

        color: color('grey');
        display: block;
        font-size: 0.75rem;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;

        &:first-child {
            text-align: left;
        }

        &:last-child {
            text-align: right;
        }

        &.details__label--active {
            color: color('nero');
            font-weight: 700;
        }
    }

    .details__description {
        @include headline;

        font-size: 1.125rem;
        font-weight: 400;
        text-align: center;
    }
}

@include breakpoint('laptop') {
    .details {
        padding: 4.375rem 0;

        &:before {
            height: 6.25rem;
        }

        .details__container {
            padding: 0 6.944444444444444vw;
        }

        .details__cards {
            margin: -0.75rem -1.666666666666667vw;
        }

        .details__card {
            margin: 0.75rem 1.666666666666667vw;
            width: calc(33.333333333333333% - 3.333333333333333vw);
            // width: 27.5vw;
        }
    }
}
