.drawer {
    background-color: color('dark-grey');
    height: 100vh;
    left: 0;
    padding: 5.625rem 0 5rem;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform variable('navigation');
    transform: translateX(-100%);
    z-index: 1;

    &.drawer--active {
        transform: translateX(0%);
    }
}
