.footer {
    background-color: color('gainsboro');

    .footer__container {
        margin: 0 auto;
        max-width: 90rem;
        padding: 0 1.25rem;
        width: 100%;
    }
}

@include breakpoint('laptop') {
    .footer {
        .footer__container {
            padding: 0 50rem 0 10rem;
        }
    }
}
