.footer {
    background-color: color('gainsboro');
    overflow: hidden;
    padding: 3.125rem 0;

    &:before {
        background-color: color('gorse');
        content: '';
        display: block;
        height: 4.375rem;
        left: 0;
        position: absolute;
        top: 0;
        width: 80vw;
    }

    .footer__container {
        padding: 0 5.797101449275362vw;
    }

    .footer__row {
        align-items: flex-end;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: -1.5625rem 2.415458937198068vw;
    }

    .footer__column {
        margin: 1.5625rem 2.415458937198068vw;
        min-width: calc(100% - 4.830917874396135vw);
        width: calc(100% - 4.830917874396135vw);
    }
}

@include breakpoint('laptop') {
    .footer {
        padding: 3.125rem 0 3.75rem;

        .footer__container {
            padding: 0 6.944444444444444vw;
        }

        .footer__row {
            margin: -0.75rem -0.833333333333333vw;
        }

        .footer__column {
            margin: 0.75rem 0.833333333333333vw;

            &.footer__column--navigation {
                min-width: calc(33.333333333333333% - 1.666666666666667vw);
                width: calc(33.333333333333333% - 1.666666666666667vw);
            }

            &.footer__column--copyright {
                bottom: 0;
                left: 0;
                margin: 0;
                min-width: 0;
                position: absolute;
                transform: rotate(-90deg);
                transform-origin: 0 50%;
                width: auto;
            }

            &.footer__column--sponsors {
                min-width: calc(25% - 1.666666666666667vw);
                width: calc(25% - 1.666666666666667vw);
            }
        }
    }
}
