.header {
    &.header--primary {
        .header__container {
            align-items: center;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            padding: 0 5.797101449275362vw;
        }

        .header__cart {
            height: 3.75rem;
            padding: 1.125rem;
            width: 3.75rem;

            .header__icon {
                height: 1.5rem;
                width: 1.5rem;
            }
        }
    }

    &.header--secondary {
    }
}

@include breakpoint('laptop') {
    .header {
        &.header--primary {
            .header__container {
                padding: 0 6.944444444444444vw;
            }
        }
    }
}
