.instagram {
    display: none;
    padding: 3.125rem 0;

    .instagram__container {
        margin: 0 auto;
        max-width: 90rem;
        padding: 0 5rem;
        width: 100%;
    }

    .instagram__title {
        @include nikolai;

        font-size: 2.5rem;
        margin-bottom: 3.125rem;
        text-align: center;
    }

    .instagram__cards {
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: -3.125rem;
    }

    .instagram__card {
        margin: 3.125rem;
        width: calc(25% - 6.25rem);
    }

    .instagram__thumbnail {
        margin-bottom: 0.3125rem;
        overflow: hidden;
        transform: translate(0, 0);

        &:hover .instagram__image {
            transform: scale(1.0625);
        }

        &::before {
            content: '';
            display: block;
            padding-bottom: 100%;
        }
    }

    .instagram__figure {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .instagram__image {
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        transform: scale(1);
        transition: transform variable('transition');
        width: 100%;
    }

    .instagram__subtitle {
        @include headline;

        color: color('grey');
        font-size: 0.75rem;
        font-weight: 500;
        text-align: center;

        a {
            color: color('grey');
            transition: color variable('transition');

            &:hover {
                color: color('nero');
            }
        }
    }
}

@include breakpoint('laptop') {
    .instagram {
        display: block;
    }
}
