.logo {
    &.logo--footer {
        margin-left: -1.25rem;

        .logo__link {
            display: block;
        }

        .logo__icon {
            color: color('nero');
            height: 2.5rem;
            min-height: 2.5rem;
            min-width: 2.5rem;
            width: 2.5rem;
        }
    }

    &.logo--header {
        .logo__link {
            display: block;
        }

        .logo__icon {
            color: color('nero');
            height: 1.1875rem;
            min-height: 1.1875rem;
            min-width: 5.8125rem;
            width: 5.8125rem;
        }
    }
}
