.logo {
    &.logo--footer {
        .logo__link {
            display: block;
        }

        .logo__icon {
            color: color('nero');
            height: 2.5rem;
            min-height: 2.5rem;
            min-width: 2.5rem;
            width: 2.5rem;
        }
    }
}
