.navigation {
    &.navigation--footer {
        .navigation__list:not(:last-child) {
            margin-bottom: 3.75rem;
        }

        .navigation__link {
            box-shadow: inset 0 -0.0625rem color('nero');
            display: block;
            font-size: 1.5rem;
            letter-spacing: 0.05em;
            line-height: 3.1875rem;
            padding-bottom: 0.0625rem;
        }
    }
}
