.newsletter {
    background-color: color('gorse');
    padding: 3.125rem 0;

    .newsletter__container {
        padding: 0 5.797101449275362vw;
    }

    .newsletter__row {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: -1.5625rem -2.415458937198068vw;
    }

    .newsletter__column {
        min-width: calc(100% - 4.830917874396135vw);
        padding: 1.5625rem 2.415458937198068vw;
        width: calc(100% - 4.830917874396135vw);
    }

    .newsletter__title {
        @include nikolai;

        font-size: 2.8125rem;
        font-weight: 700;
        margin-bottom: 1.25rem;
    }

    .newsletter__subtitle {
        @include headline;

        font-size: 1.375rem;
        font-weight: 400;
    }

    .newsletter__field {
        box-shadow: inset 0 -0.125rem color('nero');
        height: 3.25rem;
        padding-bottom: 0.125rem;
    }

    .newsletter__label,
    .newsletter__input {
        @include headline;

        font-size: 1.25rem;
        line-height: 1.875rem;
    }

    .newsletter__input {
        height: 3.125rem;
        padding: 0.625rem;
        width: 100%;

        &:active,
        &:focus {
            + .newsletter__label {
                bottom: 3.25rem;
                opacity: 1;
                transform: scale(0.66667);
            }
        }
    }

    .newsletter__label {
        bottom: 0.75rem;
        left: 0.625rem;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        touch-action: none;
        transition:
            bottom variable('transition'),
            opacity variable('transition'),
            transform variable('transition');
        transform: scale(1);
        transform-origin: 0 100%;
        user-select: none;
    }

    .mewsletter__button {
        height: 3.125rem;
        padding: 0.9375rem;
        position: absolute;
        right: 0;
        top: 0;
        width: 3.125rem;
    }

    .newsletter__icon {
        height: 1.25rem;
        width: 1.25rem;
    }
}

@include breakpoint('laptop') {
    .newsletter {
        padding: 5rem 0 2.5rem;

        .newsletter__container {
            padding: 0 5rem;
        }

        .newsletter__row {
            margin: -2.5rem;
        }

        .newsletter__column {
            padding: 2.5rem;
            width: 50%;
        }

        .newsletter__title {
            line-height: 3.125rem;
            margin-bottom: 0.3125rem;
        }
    }
}
