.recommendation {
    background-color: color('smoke');
    padding: 6.25rem 0 4.0625rem;

    .recommendation__container {
        padding: 0 #{ ($container-phone) };
    }

    .recommendation__row {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: -0.625rem #{ (-0.5 * $gutter-phone) };
    }

    .recommendation__column {
        &.recommendation__column--thumbnail {
            margin: 0.625rem #{ (-1 * $gutter-phone) } 0.625rem #{ (0.5 * $gutter-phone) };
            min-width: calc(#{ (2 * $column-phone) });
            width: calc(#{ (2 * $column-phone) });
        }

        &.recommendation__column--quote {
            margin: 0.625rem #{ (0.5 * $gutter-phone) } 0.625rem 0;
            min-width: calc(#{ (2 * $column-phone) + (4 * $gutter-phone) });
            width: calc(#{ (2 * $column-phone) + (4 * $gutter-phone) });
        }

        &.recommendation__column--description {
            margin: 0.625rem #{ (0.5 * $gutter-phone) };
            min-width: calc(#{ (4 * $column-phone) + (3 * $gutter-phone) });
            width: calc(#{ (4 * $column-phone) + (3 * $gutter-phone) });
        }
    }

    .recommendation__thumbnail {
        padding-bottom: 100%;
    }

    .recommendation__figure {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .recommendation__image {
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
    }

    .recommendation__quote {
        @include nikolai;

        color: color('nero');
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.05em;

        &.recommendation__quote--laptop {
            display: none;
        }

        &::before {
            content: '“';
        }

        &::after {
            content: '”';
        }

        &::before,
        &::after {
            display: inline;
        }
    }

    .recommendation__description {
        @include headline;

        color: color('nero');
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 1.3em;
    }
}

@include breakpoint('laptop') {
    .recommendation {
        padding: 5.625rem 0 3.125rem;

        .recommendation__container {
            padding: 0 #{ ($container-laptop) };
        }

        .recommendation__row {
            align-items: center;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            margin: -0.75rem #{ (-0.5 * $gutter-laptop) };
        }

        .recommendation__column {
            &.recommendation__column--thumbnail {
                margin: 0.75rem #{ (0.5 * $gutter-laptop) } 0.75rem #{ ($column-laptop) + (1.5 * $gutter-laptop) };
                min-width: calc(#{ (5 * $column-laptop) + (4 * $gutter-laptop) });
                width: calc(#{ (5 * $column-laptop) + (4 * $gutter-laptop) });
            }

            &.recommendation__column--quote {
                display: none;
            }

            &.recommendation__column--description {
                margin: 0.75rem #{ (2 * $column-laptop) + (2.5 * $gutter-laptop) } 0.75rem #{ (0.5 * $gutter-laptop) };
                min-width: calc(#{ (4 * $column-laptop) + (3 * $gutter-laptop) });
                width: calc(#{ (4 * $column-laptop) + (3 * $gutter-laptop) });
            }
        }

        .recommendation__quote {
            font-size: 2.8125rem;
            margin: 0 #{ ($column-laptop) + ($gutter-laptop) } 1.5rem #{ (-1 * $column-laptop) + ($gutter-laptop) };

            &.recommendation__quote--laptop {
                display: block;
            }
        }
    }
}
