.header {
    &.header--primary {
        background-color: color('white');
        left: 0;
        position: fixed;
        right: 0;
        top: 2.5rem;
        transform: translateY(0%);
        transition: transform variable('transition');
        z-index: 1;

        &.header--hidden {
            transform: translateY(-100%);
        }

        .header__container {
            align-items: center;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            margin: 0 auto;
            max-width: #{ ($width) };
            padding: 0 #{ ($margin) };
            width: 100%;
        }

        .header__cart {
            height: 3.75rem;
            min-height: 3.75rem;
            min-width: 3.75rem;
            padding: 1.125rem;
            width: 3.75rem;

            .header__icon {
                height: 1.5rem;
                width: 1.5rem;
            }
        }
    }
}

@include breakpoint('tablet') {
    .header.header--primary .header__container {
        padding: 0 #{ ($margin) };
    }
}

@include breakpoint('laptop') {
    .header {
        &.header--primary {
            background-color: color('transparent');

            &::before {
                background-color: color('nero');
                bottom: 0;
                content: '';
                display: block;
                height: 0.0625rem;
                left: 0;
                position: absolute;
                width: 50vw;
            }

            .header__container {
                padding: 0 #{ ($margin) };
            }
        }
    }
}
