.newsletter {
    background-color: color('gorse');
    padding: 3.125rem 0;

    .newsletter__container {
        margin: 0 auto;
        max-width: #{ ($width) };
        padding: 0 #{ ($margin) };
    }

    .newsletter__row {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        margin: -1.875rem #{ (-0.5 * $gutter) };
    }

    .newsletter__column {
        margin: 1.875rem #{ (0.5 * $gutter) };
        min-width: calc(100% - #{ ($gutter) });
        width: calc(100% - #{ ($gutter) });
    }

    .newsletter__title {
        @include nikolai;

        color: color('nero');
        font-size: 2.8125rem;
        font-weight: 600;
        line-height: 1.05em;
        margin-bottom: 1.3125rem;
    }

    .newsletter__description {
        @include headline;

        color: color('nero');
        font-size: 1.375rem;
        font-weight: 300;
        line-height: 1.227272727272727em;

        strong {
            font-weight: 500;
        }
    }

    .newsletter__label,
    .newsletter__input {
        @include headline;

        color: color('nero');
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 1.875rem;
        white-space: nowrap;
    }

    .newsletter__label {
        bottom: 0.75rem;
        left: 0.625rem;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        touch-action: none;
        transition:
            bottom variable('transition'),
            opacity variable('transition'),
            transform variable('transition');
        transform: scale(1);
        transform-origin: 0 100%;
        user-select: none;
    }

    .newsletter__field {
        box-shadow: inset 0 -0.125rem color('nero');
        padding: 0.125rem 0;
    }

    .newsletter__input {
        height: 3.125rem;
        padding: 0.625rem;
        width: 100%;

        &:active,
        &:focus {
            + .newsletter__label {
                bottom: 3.25rem;
                opacity: 1;
                transform: scale(0.666666666666667);
            }
        }
    }

    .newsletter__button {
        color: color('nero');
        height: 3.125rem;
        padding: 0.9375rem;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 3.125rem;

        .newsletter__icon {
            height: 1.25rem;
            width: 1.25rem;
        }
    }
}

@include breakpoint('tablet') {
    .newsletter {
        .newsletter__container {
            padding: 0 #{ ($margin) };
        }

        .newsletter__row {
            margin: -0.75rem #{ (-0.5 * $gutter) };
        }

        .newsletter__column {
            margin: 0.75rem #{ (0.5 * $gutter) };
            min-width: calc(100% - #{ ($gutter) });
            width: calc(100% - #{ ($gutter) });
        }
    }
}

@include breakpoint('laptop') {
    .newsletter {
        padding: 5.3125rem 0 2.5rem;

        .newsletter__container {
            padding: 0 #{ ($margin) };
        }

        .newsletter__row {
            align-items: center;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            margin: -0.75rem #{ (-0.5 * $gutter) };
        }

        .newsletter__column {
            margin: 0.75rem #{ (0.5 * $gutter) };

            &.newsletter__column--description {
                min-width: calc(41.666666666666667% - #{ ($gutter) });
                width: calc(41.666666666666667% - #{ ($gutter) });
            }

            &.newsletter__column--form {
                min-width: calc(33.333333333333333% - #{ ($gutter) });
                width: calc(33.333333333333333% - #{ ($gutter) });
            }
        }

        .newsletter__title {
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 1.264em;
            margin-bottom: 0.3125rem;
        }
    }
}
