<header class="header header--secondary"
        data-header="secondary">
    <nav class="">
        <ul class="">
            <li class="">
                <a class=""
                   href=""
                   target=""
                   title=""></a>
            </li>
        </ul>
    </nav>
</header>
