<section class="section">
    <div class="section__container">
        <h1 class="section__title">{{ section.title }}</h1>
        <p class="section__description">{{ section.description }}</p>
    </div>
</section>
