.cookies {
    align-items: stretch;
    background-color: color('nero');
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 2.5rem;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;

    .cookies__container {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 0 #{ ($container-phone) };
    }

    .cookies__message {
        @include headline;

        color: color('white');
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 1.2em;
        margin-right: #{ ($gutter-phone) }
    }

    .cookies__close {
        color: color('white');
        padding: 0 2.1875rem 0 1.25rem;

        .cookies__text {
            @include headline;

            align-items: center;
            color: color('white');
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            font-size: 0.75rem;
            font-weight: 500;
            height: 2.5rem;
            justify-content: center;
            line-height: 1.2em;
            text-align: center;
            text-transform: uppercase;
            white-space: nowrap;
        }

        .cookies__icon {
            color: color('white');
            height: 1rem;
            position: absolute;
            right: 1.25rem;
            top: 1.25rem;
            transform: translate(50%, -50%);
            width: 1rem;
        }
    }
}

@include breakpoint('laptop') {
    .cookies {
        .cookies__container {
            padding: 0 #{ ($container-laptop) };
        }

        .cookies__message {
            margin-right: #{ ($gutter-laptop) };
        }
    }
}
