.sandwich {
    z-index: 2;

    .sandwich__icon {
        height: 3.75rem;
        min-height: 3.75rem;
        min-width: 3.75rem;
        width: 3.75rem;
    }

    .sandwich__path {
        fill: none;
        stroke: color('nero');
        stroke-width: 1;

        &.sandwich__path--hidden {
            visibility: hidden;
        }
    }
}

@include breakpoint('laptop') {
    .sandwich {
        display: none;
    }
}
