<div class="drawer"
     data-drawer>
    <div class="drawer__container">
        {%
            include 'product.partials.navigation' with
            modifier: 'drawer-primary',
            navigation: drawer.navigation.primary
        %}
        {%
            include 'product.partials.logo' with
            modifier: 'drawer',
            logo: drawer.logo
        %}
        {%
            include 'product.partials.navigation' with
            modifier: 'drawer-secondary',
            navigation: drawer.navigation.secondary
        %}
    </div>
</div>
