<section class="instagram">
    <div class="instagram__container">
        <h2 class="instagram__title">{{ instagram.title | raw }}</h2>
        {%
            include 'product.partials.slider' with
            modifier: 'instagram',
            slider: instagram.slider
        %}
    </div>
</section>
