<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="initial-scale=1,width=device-width" name="viewport">
        <title>Pinetime Clothing</title>
        <link as="script" href="//localhost/js/app.js" rel="preload">
        <link as="style" href="//localhost/css/app.css" rel="preload">
        <link href="//localhost/css/app.css" rel="stylesheet">
    </head>
    <body class="body">
        {% include 'partials.symbols' %}
        <main class="main">
            {% block main %}
            {% endblock %}
        </main>
        {% block footer %}
        {% endblock %}
        <script src="//localhost/js/app.js">
        </script>
    </body>
</html>
